@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Uni';
    src: url('../assets/uni_05_53.ttf');
    font-display: swap;
}

body {
    font-family: 'Uni';
    font-size: 1rem;
    height: 100vh;
}

.card {
    background-image: url('../assets/card_green.png');
}

.next-card {
    background-image: url('../assets/card_orange.png');
}

.btn {
    background-image: url('../assets/text_bar_1.png');
}

.back-btn {
    background-image: url('../assets/back.png');
}

.send-btn {
    background-image: url('../assets/send.png');
}

.left-btn {
    background-image: url('../assets/arrow_left.png');
}

.right-btn {
    background-image: url('../assets/arrow_right.png');
}

.place-btn {
    background-image: url('../assets/place_button_bg.png');
}